.table {
	table-layout: fixed;
	border-collapse: collapse;
}

.td__light-grey {
	background: #e0e0e7;
}

.td__grey {
	background: #c8c7cc;
}

.td__dark-grey {
	background: #1c191c;
	color: white;
}

.td__orange {
	background: #fa9417;
	color: white;
}

//border = #474747
